* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.sub-container {
    justify-content: center;
    display: flex;
    padding: 10px;
}
.container {
    border-radius: 10px;
    position: absolute;
    width: 500px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(228, 228, 228);
}
.result {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}